@font-face {
	font-family: "Kurale", serif;
	src: url("../fonts/Kurale-Regular.woff2") format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PlaypenSans", serif;
	src: url("../fonts/PlaypenSans-Bold.woff2") format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PlaypenSans", serif;
	src: url("../fonts/PlaypenSans-Light.woff2") format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PlaypenSans", serif;
	src: url("../fonts/PlaypenSans-Regular.woff2") format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}